$lightColor: #eee3cb;
$IndigoColor: #3c366b;
$grayColor: #526d82;
$RedColor: #e74c3c;
$FontStack: helvetica, sans-serif;
$DarkColor: #212a3e;
$LightGray: #dddd;
$gray: #718096;
$BlueColor: #11009e;

body {
  margin: 0;
  font: 100 $FontStack;
}

.navbar {
  background-color: $lightColor;
  height: 50px;
  position: fixed;

  a {
    color: $grayColor;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
  }

  img {
    height: 30px;
    width: 145px;
  }

  a:hover {
    background-color: $LightGray;
    color: $DarkColor;
  }

  .right {
    float: right;
    width: auto;
    display: block;
    padding: 5px;
  }
}

.headers {
  background-image: url("header.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top: 1px solid $IndigoColor;
  border-bottom: 1px solid $IndigoColor;

  .text-header {
    text-align: center;
    padding: 30px;

    hr {
      margin: auto;
      width: 300px;
      border-color: $gray;
      margin-bottom: 10px;
    }

    p {
      color: $BlueColor;
      font-size: 20px;
      margin-bottom: 50px;
    }
  }
}

@mixin Judul($Color, $shadow) {
  color: $Color;
  text-shadow: 1px 1px $shadow;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
}

.judul-header {
  @include Judul($IndigoColor, $lightColor);
}

.judul-product {
  @include Judul($lightColor, $IndigoColor);
}

.button-basic {
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
  font-family: "Poiret one", cursive;
  border-radius: 8px;
  margin-top: 30px;
}

.button-primary {
  @extend.button-basic;
  background-color: $RedColor;
}

.button-secondary {
  @extend.button-basic;
  background-color: $gray;
}

@mixin Item($start, $end) {
  grid-column-start: $start;
  grid-column-end: $end;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}
.item-sepertiga {
  @include Item(1, 2)
}
.item-duapertiga {
  @include Item(2,3 )
}

.about {
 background-image: linear-gradient(to bottom right, $LightGray, $lightColor);
  height: 400px;

  img {
    border-radius: 100%;
    padding: 20px;
    width: 300px;
    height: 300px;
  }
  h1 {
    color: $IndigoColor;
    text-shadow: 1px 1px $lightColor;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 10px;
  }
h2 {
  color: $RedColor;
  font-size: 32px;
  margin-bottom: 15px;
}

p {
  color: $BlueColor;
  font-size: 20px;
  
}
}

.product {
  background-color: $IndigoColor;


}

.contact {
  height: 100px;
  background-color: $lightColor;
  color: $grayColor;
}

.footer {
  height: 75px;
  background-color: $grayColor;
  color: $lightColor;
}
