.jumbotron {
    padding-top: 6rem;
    background-color: #9694FF;
}

body {
    min-height: 3000px;
}

#galleries {
    background-color: #e2edff;
}
#carouselExampleIndicators {
    width: 500px;
    height: 500px;
    
}

section {
    padding-top: 5rem;
}